<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirebaseLoginSvcImpl</key>
	<string>FireLoginSvc</string>
	<key>EventSvcSQLiteImpl</key>
	<string>EventSvcSQLite</string>
	<key>MemberSvcSQLiteImpl</key>
	<string>MemberSvcSQLite</string>
	<key>SchoolSvcSQLiteImpl</key>
	<string>SchoolSvcSQLite</string>
</dict>
</plist>
